#container {
    margin: 0 auto;
    width: 60%;
    background: #fadef9;
    height: 100%;

}

form {
    margin : 0 auto;
    width: 90%;
    position: absolute;
    top: 90%;
}
form .textbox {
    width: 50%;
    margin-left: 5%;
}

form .send {
    width : 5%;
    
}
body {
    background: rgb(255, 255, 255);
}

.user {
    max-width: 70%;
    background: #adb4c7;
    padding: .8em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.bot {
    max-width: 90%;
    width: auto;
    display: block;
    background: #adb4c7;
    margin-right: 5%;
    float: right;
    padding: .8em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}